<div class="graph-container">
  <div class="container">
    <div class="chart-item">
      <app-volume-chart circuitId="p1" title="Volume - P1"></app-volume-chart>
      <div class="chart-control">
        <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
      </div>
    </div>
    <div class="chart-item">
      <app-pressure-chart circuitId="p1" title="Pressure - P1"></app-pressure-chart>
      <div class="chart-control">
        <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
      </div>
    </div>
    <div class="chart-item">
      <app-flow-chart circuitId="p1" title="Flow - P1"></app-flow-chart>
      <div class="chart-control">
        <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="chart-item">
      <app-volume-chart circuitId="p2" title="Volume - P2"></app-volume-chart>
      <div class="chart-control">
        <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
      </div>
    </div>
    <div class="chart-item">
      <app-pressure-chart circuitId="p2" title="Pressure - P2"></app-pressure-chart>
      <div class="chart-control">
        <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
      </div>
    </div>
    <div class="chart-item">
      <app-flow-chart circuitId="p2" title="Flow - P2"></app-flow-chart>
      <div class="chart-control">
        <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
      </div>
    </div>
  </div>  
</div>